header {
  background-color: rgb(27, 98, 165);
  margin-top: 0;
  padding: 0.5em 0;
  padding-bottom: 1.2em;
}

header form {
  margin: 0 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header h1{
  text-transform: capitalize;
  text-align: center;
  font-family: 'Itim', cursive;
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 4px black;
}

#search1 {
  flex: 1;
  max-width: 500px;
  padding: 0.5em 0.5em;
}
#search1::placeholder{
  font-family: "Roboto", sans-serif;
}
#search1:focus {
  outline: none;
}
#search2 {
  padding: 0.5em 0.5em;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  margin-left: 0.35em;
  cursor: pointer;
}

#search2:hover{
  box-shadow: 2px 2px 3px black;
  transition: 0.2s box-shadow;
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 25px;
  row-gap: 25px;
}

.img-container img {
  width: 100%;
}

.img-container {
  padding-top: 0.6em;
}


.article-container {
  font-family: 'roboto', sans-serif;
  font-size: 0.85rem;
  line-height: 20px;
}

.title {
  margin: 0.7em 0;
}

.date {
  font-size: 0.8rem;
  margin-bottom: 0.4em;
}

.interaction {
 padding: 1em 0;
}

.interaction i {
  margin: 0 0.25em;
}

.bottom-footer {
  color: white;
  background-color: rgb(27, 98, 165);
  padding: 2em;
  margin-top: 1em;
}

.bottom-footer h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.bottom-footer h5 {
  text-align: center;
  margin: 0;
  font-weight: 100;
  letter-spacing: 2px;
}

fieldset legend {
  font-family: 'Itim', sans-serif;
  text-transform: capitalize;
  font-size: 1.1rem;
}

fieldset input:focus {
  outline: none;
}

textarea:focus {
  outline: 0;
}

label {
  display: block;
  margin: 0.45em 0;
  font-family: 'Itim', sans-serif;
}

input[name="post"] {
  margin: 2em 0;
  display: block;
  padding: 0.5em 3em;
  border-radius: 3em;
  border: none;
  background-color: black;
  color: white;
  font-size: 0.85rem;
}

input[name="post"]:hover {
  outline: 2px solid black;
  box-shadow: 2px 3px 5px black;
  cursor: pointer;
}
 
.date span,
.date strong {
  font-family: 'roboto', sans-serif;
}

.date strong {
  font-size: 1rem;
}

.date {
  margin-bottom: 10px;
}

.title {
  font-family: 'Itim', sans-serif;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.required-msg {
  color: rgba(255, 0, 0, 0.685);
  font-size: 1rem;
}

    textarea {
      width:80%;
    }

.title-input {
  width: 80%;
}

@media screen and (max-width: 480px){
  .wrapper {
    display: grid;
    grid-template-columns: 100%;
    column-gap: 25px;
    row-gap: 25px;
  }
} 

